@import 'tailwindcss';
@plugin '../hero.ts';
@plugin "tailwindcss-device";
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  /* fonts */
  --font-manrope: var(--font-manrope), sans-serif, system-ui;
  --font-roboto-slab: var(--font-roboto-slab), sans-serif, system-ui;

  /* colors */

  /* bg */
  --color-background-primary: #0e0e10;
  --color-background-secondary: #16161a;
  --color-background-elevated: #1e1e24;
  --color-card-background: #191a1d;
  --color-card-background-secondary: #242424;
  --color-muted-foreground: #a1a1aa;

  /* text */
  --color-foreground: #f5f5f5;
  --color-muted: #2e2e2e;
  --color-gray: #3f3f46;
  --color-yellow: #f8c630;

  /* border */
  --color-border: #292932;
}

body {
  @apply font-manrope bg-background-primary text-foreground overflow-x-hidden text-lg font-normal antialiased;
}

.app-container {
  @apply mx-auto w-full max-w-3xl px-4;
}
